# 1.- Carga de librerías

In [1]:
import pandas as pd

# 2.- Carga de datos.

Parámetros de la carga:

## 2.1.- Cargamos el fichero de hogares

In [2]:
def Carga_1_archivoHogares2016(Origen):
    df_hogares=pd.read_fwf(Origen,
               header=None,
               names = ['ANOENC','NUMERO','CCAA','NUTS1','CAPROV',
                        'TAMAMU','DENSIDAD','CLAVE','CLATEO','FACTOR',
                        'NMIEMB','TAMANO','NMIEMSD','NMIEMHU','NMIEMIN',
                        'NMIEM1','NMIEM2','NMIEM3','NMIEM4','NMIEM5',
                        'NMIEM6','NMIEM7','NMIEM8','NMIEM9','NMIEM10',
                        'NMIEM11','NMIEM12','NMIEM13','NUMACTI','NUMINACTI',
                        'NUMOCUP','NUMNOCUP','NUMESTU','NUMNOESTU','NNINOSD',
                        'NHIJOSD','UC1','UC2','PF2TEO','PF2RECO',
                        'TIPHOGAR1','TIPHOGAR2','TIPHOGAR3','TIPHOGAR4','TIPHOGAR5',
                        'TIPHOGAR6','TIPHOGAR7','TIPHOGAR8','TIPHOGAR9','TIPHOGAR10',
                        'TIPHOGAR11','SITUOCUHOG','SITUACTHOG','NORDENSP','EDADSP',
                        'SEXOSP','PAISNACSP','NACIONASP','PAISSP','SITURESSP',
                        'ECIVILLEGALSP','NORDENCOSP','UNIONSP','CONVIVENCIASP','NORDENPASP',
                        'PAISPADRESP','NORDENMASP','PAISMADRESP','ESTUDIOSSP','ESTUDREDSP',
                        'SITUACTSP','SITUREDSP','OCUSP','JORNADASP','PERCEPSP',
                        'IMPEXACPSP','INTERINPSP','TRABAJO','OCUPA','OCUPARED',
                        'ACTESTB','ACTESTBRED','SITPROF','SECTOR','CONTRATO',
                        'TIPOCONT','SITSOCI','SITSOCIRE','REGTEN','TIPOEDIF',
                        'ZONARES','TIPOCASA','NHABIT','ANNOCON','SUPERF',
                        'AGUACALI','FUENAGUA','CALEF','FUENCALE','DISPOSIOV',
                        'NUMOVD','REGTENV1','MESESV1','DIASV1','AGUACV1',
                        'FUENACV1','CALEFV1','FUENCAV1','REGTENV2','MESESV2',
                        'DIASV2','AGUACV2','FUENACV2','CALEFV2','FUENCAV2',
                        'REGTENV3','MESESV3','DIASV3','AGUACV3','FUENACV3',
                        'CALEFV3','FUENCAV3','REGTENV4','MESESV4','DIASV4',
                        'AGUACV4','FUENACV4','CALEFV4','FUENCAV4','REGTENV5',
                        'MESESV5','DIASV5','AGUACV5','FUENACV5','CALEFV5',
                        'FUENCAV5','REGTENV6','MESESV6','DIASV6','AGUACV6',
                        'FUENACV6','CALEFV6','FUENCAV6','REGTENV7','MESESV7',
                        'DIASV7','AGUACV7','FUENACV7','CALEFV7','FUENCAV7',
                        'REGTENV8','MESESV8','DIASV8','AGUACV8','FUENACV8',
                        'CALEFV8','FUENCAV8','REGTENV9','MESESV9','DIASV9',
                        'AGUACV9','FUENACV9','CALEFV9','FUENCAV9','GASTOT',
                        'IMPUTGAS','GASTMON','GASTNOM1','GASTNOM2','GASTNOM3',
                        'GASTNOM4','CAPROP','CAJENA','PENSIO','DESEM',
                        'OTRSUB','RENTAS','OTROIN','FUENPRIN','FUENPRINRED',
                        'IMPEXAC','INTERIN','NUMPERI','COMIMH','COMISD',
                        'COMIHU','COMIINV','COMITOT'],
               widths=[4,5,2,1,1,
                        1,1,1,1,11,
                        2,1,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,3,3,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        5,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,1,2,
                        2,2,2,2,3,
                        2,2,2,2,1,
                        1,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,16,
                        5,16,13,13,13,
                        13,2,2,2,2,
                        2,2,2,2,2,
                        5,2,2,3,3,
                        3,3,3]
                      )
    return df_hogares

In [3]:
def Carga_1_archivoHogares(Origen):
    df_hogares=pd.read_fwf(Origen,
               header=None,
               names = ['ANOENC','NUMERO','CCAA','NUTS1','CAPROV',
                        'TAMAMU','DENSIDAD','CLAVE','CLATEO','FACTOR',
                        'NMIEMB','TAMANO','NMIEMSD','NMIEMHU','NMIEMIN',
                        'NMIEM1','NMIEM2','NMIEM3','NMIEM4','NMIEM5',
                        'NMIEM6','NMIEM7','NMIEM8','NMIEM9','NMIEM10',
                        'NMIEM11','NMIEM12','NMIEM13','NUMACTI','NUMINACTI',
                        'NUMOCUP','NUMNOCUP','NUMESTU','NUMNOESTU','NNINOSD',
                        'NHIJOSD','UC1','UC2','PF2TEO','PF2RECO',
                        'TIPHOGAR1','TIPHOGAR2','TIPHOGAR3','TIPHOGAR4','TIPHOGAR5',
                        'TIPHOGAR6','TIPHOGAR7','TIPHOGAR8','TIPHOGAR9','TIPHOGAR10',
                        'TIPHOGAR11','SITUOCUHOG','SITUACTHOG','NORDENSP','EDADSP',
                        'SEXOSP','PAISNACSP','NACIONASP','PAISSP','SITURESSP',
                        'ECIVILLEGALSP','NORDENCOSP','UNIONSP','CONVIVENCIASP','NORDENPASP',
                        'PAISPADRESP','NORDENMASP','PAISMADRESP','ESTUDIOSSP','ESTUDREDSP',
                        'SITUACTSP','SITUREDSP','OCUSP','JORNADASP','PERCEPSP',
                        'IMPEXACPSP','INTERINPSP','TRABAJO','OCUPA','OCUPARED',
                        'ACTESTB','ACTESTBRED','SITPROF','SECTOR','CONTRATO',
                        'TIPOCONT','SITSOCI','SITSOCIRE','REGTEN','TIPOEDIF',
                        'ZONARES','TIPOCASA','NHABIT','ANNOCON','SUPERF',
                        'AGUACALI','FUENAGUA','CALEF','FUENCALE','DISPOSIOV',
                        'NUMOVD','REGTENV1','MESESV1','DIASV1','AGUACV1',
                        'FUENACV1','CALEFV1','FUENCAV1','REGTENV2','MESESV2',
                        'DIASV2','AGUACV2','FUENACV2','CALEFV2','FUENCAV2',
                        'REGTENV3','MESESV3','DIASV3','AGUACV3','FUENACV3',
                        'CALEFV3','FUENCAV3','REGTENV4','MESESV4','DIASV4',
                        'AGUACV4','FUENACV4','CALEFV4','FUENCAV4','REGTENV5',
                        'MESESV5','DIASV5','AGUACV5','FUENACV5','CALEFV5',
                        'FUENCAV5','REGTENV6','MESESV6','DIASV6','AGUACV6',
                        'FUENACV6','CALEFV6','FUENCAV6','REGTENV7','MESESV7',
                        'DIASV7','AGUACV7','FUENACV7','CALEFV7','FUENCAV7',
                        'REGTENV8','MESESV8','DIASV8','AGUACV8','FUENACV8',
                        'CALEFV8','FUENCAV8','REGTENV9','MESESV9','DIASV9',
                        'AGUACV9','FUENACV9','CALEFV9','FUENCAV9','GASTOT',
                        'IMPUTGAS','GASTMON','GASTNOM1','GASTNOM2','GASTNOM3',
                        'GASTNOM4','CAPROP','CAJENA','PENSIO','DESEM',
                        'OTRSUB','RENTAS','OTROIN','FUENPRIN','FUENPRINRED',
                        'IMPEXAC','INTERIN','NUMPERI','COMIMH','COMISD',
                        'COMIHU','COMIINV','COMITOT'],
               widths=[4,5,2,1,1,
                        1,1,1,1,11,
                        2,1,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,3,3,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        5,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,1,2,
                        2,2,2,2,3,
                        2,2,2,2,1,
                        1,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,2,
                        2,2,2,2,16,
                        5,16,13,13,13,
                        13,2,2,2,2,
                        2,2,2,2,2,
                        5,2,2,3,3,
                        3,3,3]
                      )
    return df_hogares

In [4]:
def CreaDFhogares(RutaOrigen,FicheroOrigen):
    Origen=RutaOrigen+'\\'+FicheroOrigen
    df_hogares=Carga_1_archivoHogares(Origen)
    return df_hogares

In [5]:
def AnexaDFhogares(df_hogares_total,RutaOrigen,FicheroOrigen):
    Origen=RutaOrigen+'\\'+FicheroOrigen
    df_hogares=Carga_1_archivoHogares(Origen)
    df_hogares_total=pd.concat([df_hogares_total,df_hogares],ignore_index=True)
    return df_hogares_total

In [6]:
RutaOrigen=r'C:\Users\javi_\Google Drive\ModelOfSpain\01_Origenes\EncuestaPresupuestosFamiliares2019'
FicheroOrigen=r'Fichero de usuario de hogar a2019IMP.txt'
df_hogares=CreaDFhogares(RutaOrigen,FicheroOrigen)

In [8]:
RutaOrigen=r'C:\Users\javi_\Google Drive\ModelOfSpain\01_Origenes\EncuestaPresupuestosFamiliares2018'
FicheroOrigen=r'Fichero de usuario de hogar a2018IMP.txt'
df_hogares=AnexaDFhogares(df_hogares,RutaOrigen,FicheroOrigen)

In [9]:
RutaOrigen=r'C:\Users\javi_\Google Drive\ModelOfSpain\01_Origenes\EncuestaPresupuestosFamiliares2017'
FicheroOrigen=r'Fichero de usuario de hogar a2017.txt'
df_hogares=AnexaDFhogares(df_hogares,RutaOrigen,FicheroOrigen)

In [10]:
RutaOrigen=r'C:\Users\javi_\Google Drive\ModelOfSpain\01_Origenes\EncuestaPresupuestosFamiliares2016'
FicheroOrigen=r'Fichero de usuario de hogar a2016.txt'
df_hogares=AnexaDFhogares(df_hogares,RutaOrigen,FicheroOrigen)

In [14]:
RutaOrigen=r'C:\Users\javi_\Google Drive\ModelOfSpain\01_Origenes\EncuestaPresupuestosFamiliares2020'
FicheroOrigen=r'Fichero de usuario de hogar a2020IMPAJUSTE.txt'
df_hogares=AnexaDFhogares(df_hogares,RutaOrigen,FicheroOrigen)

In [15]:
df_hogares['ANOENC'].value_counts()

2017    22043
2016    22011
2018    21395
2019    20817
2020    19170
Name: ANOENC, dtype: int64

In [17]:
df_hogares.shape

(105436, 188)

In [18]:
df_hogares['FACTOR']=df_hogares['FACTOR']/pow(10,6)
df_hogares['UC1']=df_hogares['UC1']/pow(10,1)
df_hogares['UC2']=df_hogares['UC2']/pow(10,1)
df_hogares['GASTOT']=df_hogares['GASTOT']/pow(10,2)
df_hogares['IMPUTGAS']=df_hogares['IMPUTGAS']/pow(10,2)
df_hogares['GASTMON']=df_hogares['GASTMON']/pow(10,2)
df_hogares['GASTNOM1']=df_hogares['GASTNOM1']/pow(10,2)
df_hogares['GASTNOM2']=df_hogares['GASTNOM2']/pow(10,2)
df_hogares['GASTNOM3']=df_hogares['GASTNOM3']/pow(10,2)
df_hogares['GASTNOM4']=df_hogares['GASTNOM4']/pow(10,2)

In [19]:
df_hogares.head(20)

,ANOENC,NUMERO,CCAA,NUTS1,CAPROV,TAMAMU,DENSIDAD,CLAVE,CLATEO,FACTOR,...,FUENPRIN,FUENPRINRED,IMPEXAC,INTERIN,NUMPERI,COMIMH,COMISD,COMIHU,COMIINV,COMITOT
0,2019,1,1,6,1,1,1,2,2,1294.618356,...,1.0,1.0,1716,4,2,49,0,0,0,49
1,2019,2,13,3,6,1,1,1,2,1569.018845,...,3.0,3.0,2184,5,1,8,0,0,4,12
2,2019,3,15,2,6,4,2,1,2,332.468410,...,3.0,3.0,558,2,1,28,0,0,0,28
3,2019,4,16,2,6,4,1,1,1,311.734979,...,2.0,2.0,2254,5,2,56,0,0,10,66
4,2019,5,3,1,6,4,3,2,2,524.758178,...,3.0,3.0,4719,7,3,92,0,0,0,92
5,2019,6,18,6,1,2,1,1,1,194.614724,...,2.0,2.0,1000,3,1,140,0,0,1,141
6,2019,7,13,3,6,1,1,1,2,1669.402534,...,2.0,2.0,3527,7,3,137,0,0,0,137
7,2019,8,10,5,1,1,1,1,2,1824.970120,...,2.0,2.0,2791,6,1,185,0,0,0,185
8,2019,9,10,5,6,3,2,1,1,1089.918438,...,3.0,3.0,3289,7,2,81,0,0,0,81
9,2019,10,3,1,6,2,1,2,2,782.762531,...,2.0,2.0,4000,7,2,31,0,0,0,31
10,2019,11,7,4,1,1,1,1,1,458.341437,...,2.0,2.0,1700,4,1,72,0,0,0,72
11,2019,12,9,5,6,4,2,2,2,1392.701974,...,1.0,1.0,3900,7,2,56,0,0,18,74
12,2019,13,10,5,6,3,2,1,1,1052.775943,...,2.0,2.0,1336,3,2,92,0,0,0,92
13,2019,14,1,6,6,3,2,2,2,3021.164198,...,2.0,2.0,1243,3,1,23,0,0,3,26
14,2019,15,7,4,1,1,1,2,2,742.732651,...,3.0,3.0,1574,4,2,28,0,10,0,38
15,2019,16,8,4,1,2,1,1,2,913.009176,...,3.0,3.0,2215,5,1,56,0,0,16,72
16,2019,17,14,6,6,4,3,2,2,495.922987,...,3.0,3.0,1000,3,1,28,0,0,0,28
17,2019,18,14,6,6,5,3,1,1,365.283577,...,2.0,2.0,1300,3,1,112,0,0,0,112
18,2019,19,3,1,6,2,3,1,1,372.674271,...,2.0,2.0,2475,5,1,47,0,0,0,47
19,2019,20,5,7,1,1,1,1,1,604.412519,...,1.0,1.0,2219,5,1,112,0,0,0,112

Verificamos que el número de hogares totales es de unos 18,6 millones

In [20]:
df_hogares['FACTOR'].sum()/pow(10,6)

93.171506756252

In [21]:
df_hogares[['ANOENC','FACTOR']].groupby('ANOENC').sum()/pow(10,6)

           FACTOR
ANOENC
2016    18.444023
2017    18.512537
2018    18.627677
2019    18.742156
2020    18.845114

Y que los habitantes que se recogen son unos 46 millones.

In [22]:
df_hogares['Poblacion']=df_hogares['FACTOR']*df_hogares['NMIEMB']
df_hogares['Poblacion'].sum()/pow(10,6)

231.89546609061395

In [23]:
df_hogares[['ANOENC','Poblacion']].groupby('ANOENC').sum()/pow(10,6)

        Poblacion
ANOENC
2016    45.977771
2017    46.079738
2018    46.296324
2019    46.645649
2020    46.895985

### Vamos a utilizar una función para traducir los valores

In [24]:
def Traduce(df,diccionario,CampoOrigen,CampoDestino):
    Filas=df.shape[0]
    for i in range(Filas):
        entero=df.loc[i,CampoOrigen]
        if entero is not None:
            cadena=diccionario[entero]
            df.loc[i,CampoDestino]=cadena
    print(df[CampoDestino].value_counts(1))

### Traducimos las CCAA

In [25]:
CCAAdict = {
    1:  "Andalucía",
    2:  "Aragón",
    3:  "Asturias",
    4:  "Baleares",
    5:  "Canarias",
    6:  "Cantabria",
    7:  "Castilla y León",
    8:  "Castilla La Mancha",
    9:  "Cataluña",
    10: "Valencia",
    11: "Extremadura",
    12: "Galicia",
    13: "Madrid",
    14: "Murcia",
    15: "Navarra",
    16: "País Vasco",
    17: "La Rioja",
    18: "Ceuta",
    19: "Melilla"
}

In [26]:
Traduce(df_hogares,CCAAdict,'CCAA','Comunidad')

Andalucía             0.108739
País Vasco            0.103504
Cataluña              0.090301
Valencia              0.078967
Madrid                0.074699
Castilla y León       0.065205
Galicia               0.062607
Castilla La Mancha    0.053824
Canarias              0.045639
Aragón                0.045601
Extremadura           0.044302
Murcia                0.043894
Asturias              0.041532
Cantabria             0.035633
Navarra               0.033565
La Rioja              0.031545
Baleares              0.029724
Melilla               0.005510
Ceuta                 0.005207
Name: Comunidad, dtype: float64

### Traduciomos NUTS1

In [27]:
NUTS1dict = {
1: 'NorOeste',
2: 'NorEste',
3: 'Madrid',
4: 'Centro',
5: 'Este',
6: 'Sur',
7: 'Canarias'
}

In [28]:
Traduce(df_hogares,NUTS1dict,'NUTS1','NUTS1')

NorEste     0.214215
Este        0.198993
Sur         0.163350
Centro      0.163331
NorOeste    0.139772
Madrid      0.074699
Canarias    0.045639
Name: NUTS1, dtype: float64

### Traducimos CAPROV

In [29]:
CAPROVdict={
    1: 'Capital',
    6: 'No capital'
}

In [30]:
Traduce(df_hogares,CAPROVdict,'CAPROV','CapitalProvincia')

No capital    0.658466
Capital       0.341534
Name: CapitalProvincia, dtype: float64

### Traducimos TAMAMU

In [31]:
TAMAMUdict={
    1: '100.000 o más',
    2: ' 50.000 a 100.000',
    3: ' 20.000 a 50.000',
    4: ' 10.000 a 20.000',
    5: ' 10.000 o menos'
}

In [32]:
Traduce(df_hogares,TAMAMUdict,'TAMAMU','HabitantesMunicipio')

100.000 o más        0.375507
 10.000 o menos      0.237860
 20.000 a 50.000     0.154501
 50.000 a 100.000    0.125109
 10.000 a 20.000     0.107022
Name: HabitantesMunicipio, dtype: float64

### Traducimos DENSIDAD

In [33]:
DENSIDADdict={
    1: 'Zona densamente poblada',
    2: 'Zona intermedia',
    3: 'Zona diseminada'  
}

In [34]:
Traduce(df_hogares,DENSIDADdict,'DENSIDAD','DensidadPoblacion')

Zona densamente poblada    0.472524
Zona diseminada            0.282598
Zona intermedia            0.244878
Name: DensidadPoblacion, dtype: float64

### Traducimos TIPHOGAR1

In [35]:
TIPHOGAR1dict={
    1: 'Una persona de 65 o más',
    2: 'Una persona de 30 a 64',
    3: 'Una persona de menos de 30',
    4: 'Un adulto con niños menores de 16',
    5: 'Pareja sin hijos, al menos uno 65 o más',
    6: 'Pareja sin hijos, ambos menos de 65',
    7: 'Pareja con un hijo menor de 16',
    8: 'Pareja con dos hijos menores de 16',
    9: 'Pareja con tres o más hijos menores de 16',
    10: 'Padre o madre solo, al menos un hijo de 16 o más',
    11: 'Pareja con al menos un hijo de 16 o más',
    12: 'Otros hogares' 
}

In [36]:
Traduce(df_hogares,TIPHOGAR1dict,'TIPHOGAR1','TipoHogar')

Pareja con al menos un hijo de 16 o más             0.206172
Pareja sin hijos, al menos uno 65 o más             0.130563
Pareja sin hijos, ambos menos de 65                 0.113111
Una persona de 30 a 64                              0.099283
Una persona de 65 o más                             0.090548
Pareja con dos hijos menores de 16                  0.087314
Otros hogares                                       0.080589
Pareja con un hijo menor de 16                      0.077213
Padre o madre solo, al menos un hijo de 16 o más    0.075913
Un adulto con niños menores de 16                   0.019367
Pareja con tres o más hijos menores de 16           0.014843
Una persona de menos de 30                          0.005084
Name: TipoHogar, dtype: float64

### SITUOCUHOG

In [37]:
SITUOCUHOGdict={
    1: 'Sustentador principal y cónyuge ocupados, al menos otro ocupado',
    2: 'Sustentador principal y cónyuge ocupados, no más ocupados',
    3: 'Sustentador principal o cónyuge ocupado, otro ocupado',
    4: 'Sustentador principal o cónyuge ocupado, al menos otros dos ocupados',
    5: 'Sustentador principal o cónyuge ocupado, no más ocupados',
    6: 'Ni sustentador principal ni cónyuge ocupado, otro ocupado',
    7: 'Ni sustentador principal ni cónyuge ocupados, al menos otros dos ocupados',
    8: 'Ningún ocupado en el hogar',
    -9: 'No consta'
}

In [38]:
Traduce(df_hogares,SITUOCUHOGdict,'SITUOCUHOG','SituacionHogar')

Ningún ocupado en el hogar                                                   0.344218
Sustentador principal y cónyuge ocupados, no más ocupados                    0.241758
No consta                                                                    0.165788
Sustentador principal o cónyuge ocupado, no más ocupados                     0.162165
Sustentador principal y cónyuge ocupados, al menos otro ocupado              0.026120
Ni sustentador principal ni cónyuge ocupado, otro ocupado                    0.025817
Sustentador principal o cónyuge ocupado, otro ocupado                        0.024603
Sustentador principal o cónyuge ocupado, al menos otros dos ocupados         0.004922
Ni sustentador principal ni cónyuge ocupados, al menos otros dos ocupados    0.004609
Name: SituacionHogar, dtype: float64

### SEXOSP

In [39]:
SEXOSPdict={
    1: 'Hombre',
    6: 'Mujer',
    -9: 'No consta'    
}

In [40]:
Traduce(df_hogares,SEXOSPdict,'SEXOSP','SexoSustentadorPrincipal')

Hombre    0.672275
Mujer     0.327725
Name: SexoSustentadorPrincipal, dtype: float64

### PAISNACSP

In [41]:
PAISNACSPdict={
    1: 'España',
    2: 'UE',
    3: 'Europa, no UE',
    4: 'No Europa',
    -9: 'No consta'
}

In [42]:
Traduce(df_hogares,PAISNACSPdict,'PAISNACSP','PaisNacimientoSustentador')

España           0.915076
No Europa        0.057978
UE               0.023208
Europa, no UE    0.003737
Name: PaisNacimientoSustentador, dtype: float64

### ESTUDIOSSP

In [43]:
ESTUDIOSSPdict={
    1: 'No sabe leer o escribir o menos de 5 años en escuela',
    2: 'Educación primaria completa o escuela al menos 5 años',
    3: 'ESO, EGB o Bachiller Elemental (con titulo o cursados, al menos, 3º, 8º o 4º respectivamente) y similares',
    4: 'Bachiller, BUP, COU, Bachiller Superior, FP de Grado Medio, FP Básica y otros estudios de grado medio',
    5: 'FP de Grado Superior, FPII y equivalentes',
    6: 'Grado de 240 ECTS, Diplomatura, Arquitectura e Ingeniería Técnicas y equivalentes.',
    7: 'Grado de más de 240 ECTS, Licenciatura, Arquitectura, Ingeniería, másteres, especialidad en Ciencias de la Salud y equivalentes.',
    8: 'Doctorado universitario.'
}

In [44]:
Traduce(df_hogares,ESTUDIOSSPdict,'ESTUDIOSSP','EstudiosSustentadorPrincipal')

ESO, EGB o Bachiller Elemental (con titulo o cursados, al menos, 3º, 8º o 4º respectivamente) y similares                           0.295355
Bachiller, BUP, COU, Bachiller Superior, FP de Grado Medio, FP Básica y otros estudios de grado medio                               0.182556
Educación primaria completa o escuela al menos 5 años                                                                               0.162468
Grado de más de 240 ECTS, Licenciatura, Arquitectura, Ingeniería, másteres, especialidad en Ciencias de la Salud y equivalentes.    0.133446
FP de Grado Superior, FPII y equivalentes                                                                                           0.099292
Grado de 240 ECTS, Diplomatura, Arquitectura e Ingeniería Técnicas y equivalentes.                                                  0.087693
No sabe leer o escribir o menos de 5 años en escuela                                                                                0.029800
Doctorado universitario.                                                                                                            0.009390
Name: EstudiosSustentadorPrincipal, dtype: float64

### ESTUDREDSP

In [45]:
ESTUDREDSPdict={
    1: 'Menos que primera etapa Educación Secundaria.',
    2: 'Primera etapa Educación secundaria',
    3: 'Segunda etapa Educación secundaria',
    4: 'Educación superior'   
}

In [46]:
Traduce(df_hogares,ESTUDREDSPdict,'ESTUDREDSP','EstudiosSustentadorPrincipal_redux')

Educación superior                               0.329821
Primera etapa Educación secundaria               0.295355
Menos que primera etapa Educación Secundaria.    0.192268
Segunda etapa Educación secundaria               0.182556
Name: EstudiosSustentadorPrincipal_redux, dtype: float64

### SITUACTSP

In [47]:
SITUACTSPdict={
    1: 'Trabajando',
    2: 'De baja',
    3: 'Parado/a',
    4: 'Jubilado/a',
    5: 'Estudiante',
    6: 'Labores del hogar',
    7: 'Incapacidad laboral per.',
    8: 'Otra inactividad'
}

In [48]:
Traduce(df_hogares,SITUACTSPdict,'SITUACTSP','SitLaboralSustentadorPrincipal')

Trabajando                  0.545601
Jubilado/a                  0.299717
Parado/a                    0.059809
Labores del hogar           0.044387
De baja                     0.027619
Incapacidad laboral per.    0.015185
Otra inactividad            0.006829
Estudiante                  0.000854
Name: SitLaboralSustentadorPrincipal, dtype: float64

### OCUPA

In [49]:
OCUPAdict={
    1: 'Directores y gerentes',
    2: 'Técnicos y profesionales científicos e intelectuales',
    3: 'Técnicos y profesionales de apoyo',
    4: 'Empleados contables, administrativos y otros empleados de oficina',
    5: 'Trabajadores de los servicios de restauración, personales, protección y vendedores',
    6: 'Trabajadores cualificados en el sector agrícola, ganadero, forestal y pesquero',
    7: 'Artesanos y trabajadores cualificados de las industrias manufactureras y la construcción (excepto operadores de instalaciones y maquinaria)',
    8: 'Operadores de instalaciones y maquinaria, y montadores',
    9: 'Ocupaciones elementales',
    0: 'Ocupaciones militares',
    -9: 'No consta'
}

In [50]:
def TraduceAunqueHayaNaNs(df,diccionario,CampoOrigen,CampoDestino):
    Filas=df.shape[0]
    FilasRellenas=0
    for i in range(Filas):
        entero=df.loc[i,CampoOrigen]
        if entero==entero:
            cadena=diccionario[entero]
            df.loc[i,CampoDestino]=cadena
            FilasRellenas=FilasRellenas+1
    print("Filas = "+str(Filas))
    print("FilasRellenas = "+str(FilasRellenas))
    Ratio=FilasRellenas/Filas
    print("Ratio[%] = "+str(100*Ratio))
    print("-"*10)
    print(df[CampoDestino].value_counts(1))

In [51]:
TraduceAunqueHayaNaNs(df_hogares,OCUPAdict,'OCUPA','OcupacionSustentadorPrincipal')

Filas = 105436
FilasRellenas = 101697
Ratio[%] = 96.45377290489017
----------
Trabajadores de los servicios de restauración, personales, protección y vendedores                                                             0.176141
Artesanos y trabajadores cualificados de las industrias manufactureras y la construcción (excepto operadores de instalaciones y maquinaria)    0.167852
Técnicos y profesionales científicos e intelectuales                                                                                           0.155167
Ocupaciones elementales                                                                                                                        0.121724
Técnicos y profesionales de apoyo                                                                                                              0.104044
Operadores de instalaciones y maquinaria, y montadores                                                                                         0.099206
Empleados contables, administrativos y otros empleados de oficina                                                                              0.078350
Trabajadores cualificados en el sector agrícola, ganadero, forestal y pesquero                                                                 0.045980
Directores y gerentes                                                                                                                          0.044701
Ocupaciones militares                                                                                                                          0.006805
No consta                                                                                                                                      0.000029
Name: OcupacionSustentadorPrincipal, dtype: float64

### OCUPARED

In [52]:
OCUPAREDdict={
1: 'Directores y gerentes',
2: 'Técnicos y profesionales',
3: 'Empleados de tipo administrativo y trabajadores de servicios y de comercio',
4: 'Artesanos y trabajadores cualificados de otros sectores, operadores y montadores',
5: 'Trabajadores en ocupaciones elementales',
-9: 'No consta o Fuerzas armadas' 
}

In [53]:
TraduceAunqueHayaNaNs(df_hogares,OCUPAREDdict,'OCUPARED','OcupacionSustentadorPrincipal_redux')

Filas = 105436
FilasRellenas = 101697
Ratio[%] = 96.45377290489017
----------
Artesanos y trabajadores cualificados de otros sectores, operadores y montadores    0.313038
Técnicos y profesionales                                                            0.259211
Empleados de tipo administrativo y trabajadores de servicios y de comercio          0.254491
Trabajadores en ocupaciones elementales                                             0.121724
Directores y gerentes                                                               0.044701
No consta o Fuerzas armadas                                                         0.006834
Name: OcupacionSustentadorPrincipal_redux, dtype: float64

### ACTESTB

In [54]:
ACTESTBdict={
'A': 'Agricultura, ganadería, silvicultura y pesca',
'B': 'Industrias extractivas',
'C': 'Industria manufacturera',
'D': 'Suministro de energía eléctrica, gas, vapor y aire acondicionado',
'E': 'Suministro de agua, saneamiento y gestión de residuos',
'F': 'Construcción',
'G': 'Comercio y reparación de vehículos de motor',
'H': 'Transporte y almacenamiento',
'I': 'Hostelería',
'J': 'Información y comunicaciones',
'K': 'Actividades financieras y de seguros',
'L': 'Actividades inmobiliarias',
'M': 'Actividades profesionales, científicas y técnicas',
'N': 'Actividades administrativas y servicios auxiliares',
'O': 'Administración pública y defensa; seguridad social obligatoria',
'P': 'Educación',
'Q': 'Actividades sanitarias y de servicios sociales',
'R': 'Actividades artísticas, recreativas y de entretenimiento',
'S': 'Otros servicios',
'T': 'Actividades de los hogares como empleadores de personal doméstico',
'-9': 'No consta (incluye actividades de organizaciones y organismos extraterritoriales)'
}

In [55]:
TraduceAunqueHayaNaNs(df_hogares,ACTESTBdict,'ACTESTB','Actividad')

Filas = 105436
FilasRellenas = 101697
Ratio[%] = 96.45377290489017
----------
Industria manufacturera                                                              0.179838
Comercio y reparación de vehículos de motor                                          0.127339
Construcción                                                                         0.094231
Administración pública y defensa; seguridad social obligatoria                       0.093149
Agricultura, ganadería, silvicultura y pesca                                         0.068488
Actividades sanitarias y de servicios sociales                                       0.062047
Educación                                                                            0.060936
Hostelería                                                                           0.059372
Transporte y almacenamiento                                                          0.057121
Actividades administrativas y servicios auxiliares                                   0.037012
Actividades profesionales, científicas y técnicas                                    0.033000
Actividades financieras y de seguros                                                 0.026638
Actividades de los hogares como empleadores de personal doméstico                    0.024888
Información y comunicaciones                                                         0.021328
Otros servicios                                                                      0.016697
Actividades artísticas, recreativas y de entretenimiento                             0.013353
Suministro de energía eléctrica, gas, vapor y aire acondicionado                     0.007227
Suministro de agua, saneamiento y gestión de residuos                                0.006726
Industrias extractivas                                                               0.006146
Actividades inmobiliarias                                                            0.004140
No consta (incluye actividades de organizaciones y organismos extraterritoriales)    0.000324
Name: Actividad, dtype: float64

### ACTESTBRED

In [56]:
ACTESTBREDdict={
    1: 'Agricultura, ganadería, silvicultura y pesca',
    2: 'Industrias extractiva, manufacturera, eléctrica, gas, vapor y aire acondicionado, agua, saneamiento, gestión de residuos y descontaminación, construcción',
    3: 'Servicios',
    -9: 'No consta (incluye actividades de organizaciones y organismos extraterritoriales)',
    }

In [57]:
TraduceAunqueHayaNaNs(df_hogares,ACTESTBREDdict,'ACTESTBRED','Actividad_redux')

Filas = 105436
FilasRellenas = 101697
Ratio[%] = 96.45377290489017
----------
Servicios                                                                                                                                                    0.637020
Industrias extractiva, manufacturera, eléctrica, gas, vapor y aire acondicionado, agua, saneamiento, gestión de residuos y descontaminación, construcción    0.294168
Agricultura, ganadería, silvicultura y pesca                                                                                                                 0.068488
No consta (incluye actividades de organizaciones y organismos extraterritoriales)                                                                            0.000324
Name: Actividad_redux, dtype: float64

### SITPROF

In [58]:
SITPROFdict={
    1: 'Asalariado',
    2: 'Empresario sin asalariados o trabajador independiente',
    3: 'Empleador',
    4: 'Otra situación (ayuda familiar, etc.)',
    -9: 'No consta',
}

In [59]:
TraduceAunqueHayaNaNs(df_hogares,SITPROFdict,'SITPROF','SituacionProfesional')

Filas = 105436
FilasRellenas = 101697
Ratio[%] = 96.45377290489017
----------
Asalariado                                               0.816769
Empresario sin asalariados o trabajador independiente    0.127447
Empleador                                                0.053935
Otra situación (ayuda familiar, etc.)                    0.001829
No consta                                                0.000020
Name: SituacionProfesional, dtype: float64

### SECTOR

In [60]:
SECTORdict={
    1: 'Público',
    6: 'Privado',
    -9: 'No consta',
}

In [61]:
df_hogares.SECTOR.value_counts()

 6.0    62301
 1.0    20762
-9.0    18634
Name: SECTOR, dtype: int64

In [62]:
TraduceAunqueHayaNaNs(df_hogares,SECTORdict,'SECTOR','Sector')

Filas = 105436
FilasRellenas = 101697
Ratio[%] = 96.45377290489017
----------
Privado      0.612614
Público      0.204155
No consta    0.183231
Name: Sector, dtype: float64

In [63]:
del df_hogares['SECTOR']

### CONTRATO

In [64]:
CONTRATOdict={
    1: 'Con contrato',
    6: 'Sin contrato',
    -9: 'No consta',
    }

In [65]:
TraduceAunqueHayaNaNs(df_hogares,CONTRATOdict,'CONTRATO','Contrato')

Filas = 105436
FilasRellenas = 101697
Ratio[%] = 96.45377290489017
----------
Con contrato    0.799089
No consta       0.183231
Sin contrato    0.017680
Name: Contrato, dtype: float64

In [66]:
del df_hogares['CONTRATO']

### TIPOCONT

In [67]:
TIPOCONTdict={
    1: 'Indefinido',
    2: 'Temporal',
    -9: 'No consta',
}

In [68]:
TraduceAunqueHayaNaNs(df_hogares,TIPOCONTdict,'TIPOCONT','DuracionContrato')

Filas = 105436
FilasRellenas = 99899
Ratio[%] = 94.74847300732198
----------
Indefinido    0.662039
No consta     0.186528
Temporal      0.151433
Name: DuracionContrato, dtype: float64

### SITSOCI

In [69]:
SITSOCIdict={
    1: 'Trabajador manual, excepto agricultura',
    2: 'Trabajador no manual, excepto agricultura',
    3: 'Trabajador manual, excepto agricultura',
    4: 'Trabajador no manual, excepto agricultura',
    5: 'Independiente, excepto agricultura',
    6: 'Agricultor independiente o trabajador de la agricultura',
    7: 'Parado/a',
    8: 'Jubilado/a, retirado/a anticipadamente',
    9: 'Estudiante',
    10: 'Labores del hogar o actividad no económica',
    11: 'Incapacitados para trabajar',
    -9: 'No consta'
}

In [70]:
Traduce(df_hogares,SITSOCIdict,'SITSOCI','SituacionSocial')

Jubilado/a, retirado/a anticipadamente                     0.299717
Trabajador manual, excepto agricultura                     0.232416
Trabajador no manual, excepto agricultura                  0.219564
Independiente, excepto agricultura                         0.093953
Parado/a                                                   0.059809
Labores del hogar o actividad no económica                 0.059572
Agricultor independiente o trabajador de la agricultura    0.027144
Incapacitados para trabajar                                0.006829
Estudiante                                                 0.000854
No consta                                                  0.000142
Name: SituacionSocial, dtype: float64

### SITSOCIRE

In [71]:
SITSOCIREdict={
    1: 'Trabajador manual, excepto agricultura',
    2: 'Trabajador no manual, excepto agricultura',
    3: 'Trabajador independiente y agricultor o trabajador en la agricultura',
    4: 'Parado',
    5: 'Retirados o jubilados',
    6: 'Otros inactivos',
    -9: 'No consta'    
}

In [72]:
Traduce(df_hogares,SITSOCIREdict,'SITSOCIRE','SituacionSocial_redux')

Retirados o jubilados                                                   0.299717
Trabajador manual, excepto agricultura                                  0.232416
Trabajador no manual, excepto agricultura                               0.219564
Trabajador independiente y agricultor o trabajador en la agricultura    0.121097
Otros inactivos                                                         0.067254
Parado                                                                  0.059809
No consta                                                               0.000142
Name: SituacionSocial_redux, dtype: float64

In [73]:
Tipos=df_hogares.dtypes
Tipos[84]

dtype('int64')

In [74]:
df_hogares['Ingresos Netos Anuales Hogar']=df_hogares['IMPEXAC']*12

In [75]:
df_hogares['Ingresos Netos Mensuales Hogar']=df_hogares['IMPEXAC']

In [76]:
df_hogares['Gastos Anuales Hogar']=df_hogares['GASTMON']/df_hogares['FACTOR']

In [77]:
df_hogares['Gastos Mensuales Hogar']=df_hogares['Gastos Anuales Hogar']/12

In [78]:
df_hogares['Ahorro Mensual Hogar']=df_hogares['Ingresos Netos Mensuales Hogar']-df_hogares['Gastos Mensuales Hogar']

In [79]:
df_hogares['Ahorro Anual Hogar']=df_hogares['Ingresos Netos Anuales Hogar']-df_hogares['Gastos Anuales Hogar']

In [80]:
#del df_hogares['Hogares']
df_hogares['Hogares']=df_hogares['FACTOR']

In [81]:
df_hogares

,ANOENC,NUMERO,CCAA,NUTS1,CAPROV,TAMAMU,DENSIDAD,CLAVE,CLATEO,FACTOR,...,DuracionContrato,SituacionSocial,SituacionSocial_redux,Ingresos Netos Anuales Hogar,Ingresos Netos Mensuales Hogar,Gastos Anuales Hogar,Gastos Mensuales Hogar,Ahorro Mensual Hogar,Ahorro Anual Hogar,Hogares
0,2019,1,1,Sur,1,1,1,2,2,1294.618356,...,No consta,"Independiente, excepto agricultura",Trabajador independiente y agricultor o trabaj...,20592,1716,27070.110884,2255.842574,-539.842574,-6478.110884,1294.618356
1,2019,2,13,Madrid,6,1,1,1,2,1569.018845,...,Indefinido,"Jubilado/a, retirado/a anticipadamente",Retirados o jubilados,26208,2184,27579.250063,2298.270839,-114.270839,-1371.250063,1569.018845
2,2019,3,15,NorEste,6,4,2,1,2,332.468410,...,NaN,Labores del hogar o actividad no económica,Otros inactivos,6696,558,7289.451380,607.454282,-49.454282,-593.451380,332.468410
3,2019,4,16,NorEste,6,4,1,1,1,311.734979,...,Indefinido,"Trabajador manual, excepto agricultura","Trabajador manual, excepto agricultura",27048,2254,22349.987391,1862.498949,391.501051,4698.012609,311.734979
4,2019,5,3,NorOeste,6,4,3,2,2,524.758178,...,Indefinido,"Jubilado/a, retirado/a anticipadamente",Retirados o jubilados,56628,4719,28369.684274,2364.140356,2354.859644,28258.315726,524.758178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105431,2020,19166,7,Centro,6,5,3,1,1,580.026322,...,No consta,"Jubilado/a, retirado/a anticipadamente",Retirados o jubilados,26220,2185,13993.213777,1166.101148,1018.898852,12226.786223,580.026322
105432,2020,19167,9,Este,6,5,3,2,2,2578.309998,...,Indefinido,"Trabajador no manual, excepto agricultura","Trabajador no manual, excepto agricultura",26400,2200,31374.554213,2614.546184,-414.546184,-4974.554213,2578.309998
105433,2020,19168,9,Este,6,5,3,2,2,1846.706676,...,Indefinido,Agricultor independiente o trabajador de la ag...,Trabajador independiente y agricultor o trabaj...,26580,2215,18014.440643,1501.203387,713.796613,8565.559357,1846.706676
105434,2020,19169,10,Este,6,3,2,2,2,1571.709414,...,Indefinido,"Jubilado/a, retirado/a anticipadamente",Retirados o jubilados,16380,1365,8714.581740,726.215145,638.784855,7665.418260,1571.709414
105435,2020,19170,7,Centro,1,1,1,1,2,1663.797365,...,No consta,"Independiente, excepto agricultura",Trabajador independiente y agricultor o trabaj...,32580,2715,25018.694659,2084.891222,630.108778,7561.305341,1663.797365

In [82]:
def DescribeDf(df):
    Columnas =df.columns
    Tipos=df.dtypes
    NumFilas=df.shape[0]
    NumColumnas=df.shape[1]
    print("Filas    = " +str(NumFilas))
    print("Columnas = " +str(NumColumnas))
    for i in range(NumColumnas):
        print('-'*50)
        print("Campo "+str(i+1)+'/'+str(NumColumnas)+" (Index "+str(i)+"): "+Columnas[i])
        print("")
        VC=df[Columnas[i]].value_counts()
        ValoresDistintos=VC.shape[0]
        if ValoresDistintos<=40:
            print(VC)
        elif ValoresDistintos==NumFilas:
            print("   >>> Posible clave principal <<<")
            print("")
            VC=df[Columnas[i]].value_counts(bins=10)
            print(VC)
        elif Tipos[i]=='int64' or Tipos[i]=='float64':
            print("ValoresDistintos="+str(NumFilas))
            print("")
            VC=df[Columnas[i]].value_counts(bins=10)
            print(VC)

In [83]:
DescribeDf(df_hogares)

Filas    = 105436
Columnas = 215
--------------------------------------------------
Campo 1/215 (Index 0): ANOENC

2017    22043
2016    22011
2018    21395
2019    20817
2020    19170
Name: ANOENC, dtype: int64
--------------------------------------------------
Campo 2/215 (Index 1): NUMERO

ValoresDistintos=105436

(8817.8, 11022.0]                11025
(-21.043000000000003, 2205.2]    11025
(15430.4, 17634.6]               11020
(13226.2, 15430.4]               11020
(11022.0, 13226.2]               11020
(6613.6, 8817.8]                 11020
(4409.4, 6613.6]                 11020
(2205.2, 4409.4]                 11020
(17634.6, 19838.8]               10352
(19838.8, 22043.0]                6914
Name: NUMERO, dtype: int64
--------------------------------------------------
Campo 3/215 (Index 2): CCAA

1     11465
16    10913
9      9521
10     8326
13     7876
7      6875
12     6601
8      5675
5      4812
2      4808
11     4671
14     4628
3      4379
6      3757
15     3539
17     3326
4      3134
19      581
18      549
Name: CCAA, dtype: int64
--------------------------------------------------
Campo 4/215 (Index 3): NUTS1

NorEste     22586
Este        20981
Sur         17223
Centro      17221
NorOeste    14737
Madrid       7876
Canarias     4812
Name: NUTS1, dtype: int64
--------------------------------------------------
Campo 5/215 (Index 4): CAPROV

6    69426
1    36010
Name: CAPROV, dtype: int64
--------------------------------------------------
Campo 6/215 (Index 5): TAMAMU

1    39592
5    25079
3    16290
2    13191
4    11284
Name: TAMAMU, dtype: int64
--------------------------------------------------
Campo 7/215 (Index 6): DENSIDAD

1    49821
3    29796
2    25819
Name: DENSIDAD, dtype: int64
--------------------------------------------------
Campo 8/215 (Index 7): CLAVE

1    62070
2    43366
Name: CLAVE, dtype: int64
--------------------------------------------------
Campo 9/215 (Index 8): CLATEO

2    54880
1    50556
Name: CLATEO, dtype: int64
--------------------------------------------------
Campo 10/215 (Index 9): FACTOR

ValoresDistintos=105436

(12.955, 952.004]       67171
(952.004, 1881.755]     30844
(1881.755, 2811.506]     5891
(2811.506, 3741.257]     1118
(3741.257, 4671.008]      261
(4671.008, 5600.759]       97
(5600.759, 6530.51]        36
(6530.51, 7460.261]        10
(7460.261, 8390.012]        5
(8390.012, 9319.763]        3
Name: FACTOR, dtype: int64
--------------------------------------------------
Campo 11/215 (Index 10): NMIEMB

2     34410
3     23885
4     20570
1     20551
5      4483
6      1042
7       321
8       100
9        34
10       24
11       13
12        2
16        1
Name: NMIEMB, dtype: int64
--------------------------------------------------
Campo 12/215 (Index 11): TAMANO

2    34410
3    23885
4    20570
1    20551
5     4483
6     1537
Name: TAMANO, dtype: int64
--------------------------------------------------
Campo 13/215 (Index 12): NMIEMSD

0    105305
1       128
2         3
Name: NMIEMSD, dtype: int64
--------------------------------------------------
Campo 14/215 (Index 13): NMIEMHU

0    105423
1        12
3         1
Name: NMIEMHU, dtype: int64
--------------------------------------------------
Campo 15/215 (Index 14): NMIEMIN

0    105417
1        18
2         1
Name: NMIEMIN, dtype: int64
--------------------------------------------------
Campo 16/215 (Index 15): NMIEM1

2     50553
1     22134
3     20662
4      9853
5      1803
6       328
7        82
8        15
9         5
10        1
Name: NMIEM1, dtype: int64
--------------------------------------------------
Campo 17/215 (Index 16): NMIEM2

0    79310
1    14785
2     9726
3     1385
4      182
5       35
6        8
7        4
8        1
Name: NMIEM2, dtype: int64
--------------------------------------------------
Campo 18/215 (Index 17): NMIEM3

0    75907
1    15940
2    11494
3     1754
4      264
5       54
6       16
8        5
7        2
Name: NMIEM3, dtype: int64
--------------------------------------------------
Campo 19/215 (Index 18): NMIEM4

2    53216
1    22593
3    19624
4     8241
5     1433
6      259
7       59
8        9
9        2
Name: NMIEM4, dtype: int64
--------------------------------------------------
Campo 20/215 (Index 19): NMIEM5

0    72821
1    16714
2    13341
3     2122
4      333
5       72
6       20
7        7
8        4
9        2
Name: NMIEM5, dtype: int64
--------------------------------------------------
Campo 21/215 (Index 20): NMIEM6

2    55764
1    23140
3    18416
4     6730
5     1130
6      208
7       42
8        6
Name: NMIEM6, dtype: int64
--------------------------------------------------
Campo 22/215 (Index 21): NMIEM7

0    95353
1     8369
2     1645
3       67
4        2
Name: NMIEM7, dtype: int64
--------------------------------------------------
Campo 23/215 (Index 22): NMIEM8

0    81592
1    15141
2     7620
3      947
4      108
5       24
6        4
Name: NMIEM8, dtype: int64
--------------------------------------------------
Campo 24/215 (Index 23): NMIEM9

0    85239
1    15042
2     4711
3      381
4       61
5        2
Name: NMIEM9, dtype: int64
--------------------------------------------------
Campo 25/215 (Index 24): NMIEM10

0    86241
1    14384
2     4642
3      141
4       23
5        5
Name: NMIEM10, dtype: int64
--------------------------------------------------
Campo 26/215 (Index 25): NMIEM11

2    46217
1    30231
0    27464
3     1348
4      160
5       13
6        3
Name: NMIEM11, dtype: int64
--------------------------------------------------
Campo 27/215 (Index 26): NMIEM12

0    73442
1    18569
2    13310
3      110
4        5
Name: NMIEM12, dtype: int64
--------------------------------------------------
Campo 28/215 (Index 27): NMIEM13

0    99134
1     5567
2      730
3        4
4        1
Name: NMIEM13, dtype: int64
--------------------------------------------------
Campo 29/215 (Index 28): NUMACTI

 2    39590
 1    31190
 0    27407
 3     5731
 4     1228
 5      187
-9       70
 6       27
 7        5
 8        1
Name: NUMACTI, dtype: int64
--------------------------------------------------
Campo 30/215 (Index 29): NUMINACTI

 2     36927
 1     36412
 0     22466
 3      7431
 4      1602
 5       380
 6       106
-9        70
 7        24
 8         9
 9         6
 10        3
Name: NUMINACTI, dtype: int64
--------------------------------------------------
Campo 31/215 (Index 30): NUMOCUP

 0    36290
 1    34823
 2    30546
 3     3175
 4      491
-9       70
 5       36
 6        5
Name: NUMOCUP, dtype: int64
--------------------------------------------------
Campo 32/215 (Index 31): NUMNOCUP

 2     38760
 1     34053
 0     15987
 3     12054
 4      3163
 5       919
 6       276
 7        88
-9        70
 8        36
 9        17
 10       10
 11        3
Name: NUMNOCUP, dtype: int64
--------------------------------------------------
Campo 33/215 (Index 32): NUMESTU

 0    88611
 1    13026
 2     3426
 3      276
-9       70
 4       22
 5        3
 6        2
Name: NUMESTU, dtype: int64
--------------------------------------------------
Campo 34/215 (Index 33): NUMNOESTU

 2     40701
 3     24094
 1     22223
 4     14291
 5      2997
 6       674
 7       203
 8        74
-9        70
 0        57
 9        26
 10       16
 11        8
 14        1
 12        1
Name: NUMNOESTU, dtype: int64
--------------------------------------------------
Campo 35/215 (Index 34): NNINOSD

 0     65538
 1     19271
 2     17109
 3      2842
 4       450
 5       115
-9        69
 6        24
 7        10
 8         5
 9         2
 10        1
Name: NNINOSD, dtype: int64
--------------------------------------------------
Campo 36/215 (Index 35): NHIJOSD

 0     66127
 1     18930
 2     16973
 3      2757
 4       432
 5       109
-9        69
 6        22
 7         9
 8         5
 9         2
 10        1
Name: NHIJOSD, dtype: int64
--------------------------------------------------
Campo 37/215 (Index 36): UC1

ValoresDistintos=105436

(0.99, 1.91]    54961
(1.91, 2.82]    31823
(2.82, 3.73]    15869
(3.73, 4.64]     2398
(4.64, 5.55]      297
(5.55, 6.46]       54
(6.46, 7.37]       23
(7.37, 8.28]       10
(9.19, 10.1]        1
(8.28, 9.19]        0
Name: UC1, dtype: int64
--------------------------------------------------
Campo 38/215 (Index 37): UC2

ValoresDistintos=105436

(0.993, 1.61]    55459
(1.61, 2.22]     31334
(2.22, 2.83]     15860
(2.83, 3.44]      2190
(3.44, 4.05]       474
(4.05, 4.66]        85
(4.66, 5.27]        22
(5.27, 5.88]        10
(6.49, 7.1]          1
(5.88, 6.49]         1
Name: UC2, dtype: int64
--------------------------------------------------
Campo 39/215 (Index 38): PF2TEO

1    50980
0    22210
2    20658
3     9436
4     1740
5      314
6       77
7       15
8        5
9        1
Name: PF2TEO, dtype: int64
--------------------------------------------------
Campo 40/215 (Index 39): PF2RECO

1    48019
0    33090
2    16484
3     6524
4     1085
5      188
6       36
7        7
8        3
Name: PF2RECO, dtype: int64
--------------------------------------------------
Campo 41/215 (Index 40): TIPHOGAR1

11    21738
5     13766
6     11926
2     10468
1      9547
8      9206
12     8497
7      8141
10     8004
4      2042
9      1565
3       536
Name: TIPHOGAR1, dtype: int64
--------------------------------------------------
Campo 42/215 (Index 41): TIPHOGAR2

11    19057
5     13766
6     11926
8     10712
2     10468
1      9547
7      8955
12     8464
10     7490
4      2589
9      1926
3       536
Name: TIPHOGAR2, dtype: int64
--------------------------------------------------
Campo 43/215 (Index 42): TIPHOGAR3

 10    26914
 7     13997
 4     13766
 5     11926
 6     11791
 2     10468
 1      9547
 9      3756
 8      2665
 3       536
-9        70
Name: TIPHOGAR3, dtype: int64
--------------------------------------------------
Campo 44/215 (Index 43): TIPHOGAR4

 5     17877
 6     14182
 10    14139
 7     13515
 9     12436
 4      6847
 12     6250
 1      5890
 3      5114
 8      3756
 2      2700
 11     2660
-9        70
Name: TIPHOGAR4, dtype: int64
--------------------------------------------------
Campo 45/215 (Index 44): TIPHOGAR5

 5     17877
 10    14236
 6     14182
 7     12941
 9     12634
 4      6847
 12     6164
 1      5890
 3      5114
 8      4065
 11     2716
 2      2700
-9        70
Name: TIPHOGAR5, dtype: int64
--------------------------------------------------
Campo 46/215 (Index 45): TIPHOGAR6

5     25692
1     20551
7     19312
9     10055
8      8406
6      5510
3      5040
2      4970
4      4543
10     1357
Name: TIPHOGAR6, dtype: int64
--------------------------------------------------
Campo 47/215 (Index 46): TIPHOGAR7

3    25692
4    18923
5    18152
1    11004
7     9967
2     9547
8     8576
6     3575
Name: TIPHOGAR7, dtype: int64
--------------------------------------------------
Campo 48/215 (Index 47): TIPHOGAR8

4    38239
1    23313
2    22930
3    20954
Name: TIPHOGAR8, dtype: int64
--------------------------------------------------
Campo 49/215 (Index 48): TIPHOGAR9

 2    32059
 5    29235
 1    20551
 3    13515
 6     6250
 4     3756
-9       70
Name: TIPHOGAR9, dtype: int64
--------------------------------------------------
Campo 50/215 (Index 49): TIPHOGAR10

 4    28453
 3    25692
 1    20551
 6    19333
 5     7581
 2     3756
-9       70
Name: TIPHOGAR10, dtype: int64
--------------------------------------------------
Campo 51/215 (Index 50): TIPHOGAR11

 4    28101
 3    25667
 1    20551
 6    19907
 5     7384
 2     3756
-9       70
Name: TIPHOGAR11, dtype: int64
--------------------------------------------------
Campo 52/215 (Index 51): SITUOCUHOG

 8    36293
 2    25490
-9    17480
 5    17098
 1     2754
 6     2722
 3     2594
 4      519
 7      486
Name: SITUOCUHOG, dtype: int64
--------------------------------------------------
Campo 53/215 (Index 52): SITUACTHOG

 2    32863
 8    27407
-9    22108
 5    10341
 1     5277
 6     3122
 3     2711
 4      811
 7      796
Name: SITUACTHOG, dtype: int64
--------------------------------------------------
Campo 54/215 (Index 53): NORDENSP

1     91225
2     12976
3       906
4       225
5        76
6        20
7         4
8         3
12        1
Name: NORDENSP, dtype: int64
--------------------------------------------------
Campo 55/215 (Index 54): EDADSP

ValoresDistintos=105436

(50.5, 57.4]     18013
(43.6, 50.5]     16977
(57.4, 64.3]     15253
(36.7, 43.6]     13964
(64.3, 71.2]     12667
(78.1, 85.0]      9967
(71.2, 78.1]      9218
(29.8, 36.7]      7227
(22.9, 29.8]      1983
(15.93, 22.9]      167
Name: EDADSP, dtype: int64
--------------------------------------------------
Campo 56/215 (Index 55): SEXOSP

1    70882
6    34554
Name: SEXOSP, dtype: int64
--------------------------------------------------
Campo 57/215 (Index 56): PAISNACSP

1    96482
4     6113
2     2447
3      394
Name: PAISNACSP, dtype: int64
--------------------------------------------------
Campo 58/215 (Index 57): NACIONASP

1    97579
2     5253
3     2604
Name: NACIONASP, dtype: int64
--------------------------------------------------
Campo 59/215 (Index 58): PAISSP

3.0    5212
1.0    2335
2.0     310
Name: PAISSP, dtype: int64
--------------------------------------------------
Campo 60/215 (Index 59): SITURESSP

1    105010
6       426
Name: SITURESSP, dtype: int64
--------------------------------------------------
Campo 61/215 (Index 60): ECIVILLEGALSP

2    62710
1    19838
3    12185
5     7851
4     2852
Name: ECIVILLEGALSP, dtype: int64
--------------------------------------------------
Campo 62/215 (Index 61): NORDENCOSP

2     58391
99    35104
1     11064
3       599
4       206
5        51
6        15
7         4
9         1
8         1
Name: NORDENCOSP, dtype: int64
--------------------------------------------------
Campo 63/215 (Index 62): UNIONSP

1.0    61735
3.0     6981
2.0     1616
Name: UNIONSP, dtype: int64
--------------------------------------------------
Campo 64/215 (Index 63): CONVIVENCIASP

1    61735
3    35104
2     8597
Name: CONVIVENCIASP, dtype: int64
--------------------------------------------------
Campo 65/215 (Index 64): NORDENPASP

99    104443
2        369
1        340
3        150
4         68
5         47
6         17
7          2
Name: NORDENPASP, dtype: int64
--------------------------------------------------
Campo 66/215 (Index 65): PAISPADRESP

 1    96738
 4     5938
 2     2399
 3      355
-9        6
Name: PAISPADRESP, dtype: int64
--------------------------------------------------
Campo 67/215 (Index 66): NORDENMASP

99    102665
2       1253
1        617
3        517
4        199
5        135
6         37
7          9
8          4
Name: NORDENMASP, dtype: int64
--------------------------------------------------
Campo 68/215 (Index 67): PAISMADRESP

 1    96767
 4     5969
 2     2339
 3      360
-9        1
Name: PAISMADRESP, dtype: int64
--------------------------------------------------
Campo 69/215 (Index 68): ESTUDIOSSP

3    31141
4    19248
2    17130
7    14070
5    10469
6     9246
1     3142
8      990
Name: ESTUDIOSSP, dtype: int64
--------------------------------------------------
Campo 70/215 (Index 69): ESTUDREDSP

4    34775
2    31141
1    20272
3    19248
Name: ESTUDREDSP, dtype: int64
--------------------------------------------------
Campo 71/215 (Index 70): SITUACTSP

1    57526
4    31601
3     6306
6     4680
2     2912
7     1601
8      720
5       90
Name: SITUACTSP, dtype: int64
--------------------------------------------------
Campo 72/215 (Index 71): SITUREDSP

1    66744
2    38692
Name: SITUREDSP, dtype: int64
--------------------------------------------------
Campo 73/215 (Index 72): OCUSP

1    60438
2    44998
Name: OCUSP, dtype: int64
--------------------------------------------------
Campo 74/215 (Index 73): JORNADASP

1.0    56408
2.0     4030
Name: JORNADASP, dtype: int64
--------------------------------------------------
Campo 75/215 (Index 74): PERCEPSP

 1    103616
-9       997
 6       823
Name: PERCEPSP, dtype: int64
--------------------------------------------------
Campo 76/215 (Index 75): IMPEXACPSP

ValoresDistintos=105436

(-27.01, 1791.9]      94241
(1791.9, 3592.8]       9656
(3592.8, 5393.7]        563
(5393.7, 7194.6]        107
(7194.6, 8995.5]         20
(8995.5, 10796.4]        13
(10796.4, 12597.3]        9
(16199.1, 18000.0]        2
(12597.3, 14398.2]        2
(14398.2, 16199.1]        0
Name: IMPEXACPSP, dtype: int64
--------------------------------------------------
Campo 77/215 (Index 76): INTERINPSP

 3.0    31852
 2.0    25112
 4.0    18563
 5.0    11384
 1.0     5125
 6.0     4537
 7.0     4090
-9.0     3950
Name: INTERINPSP, dtype: int64
--------------------------------------------------
Campo 78/215 (Index 77): TRABAJO

1    101697
6      3739
Name: TRABAJO, dtype: int64
--------------------------------------------------
Campo 79/215 (Index 78): OCUPA

 5.0    17913
 7.0    17070
 2.0    15780
 9.0    12379
 3.0    10581
 8.0    10089
 4.0     7968
 6.0     4676
 1.0     4546
 0.0      692
-9.0        3
Name: OCUPA, dtype: int64
--------------------------------------------------
Campo 80/215 (Index 79): OCUPARED

 4.0    31835
 2.0    26361
 3.0    25881
 5.0    12379
 1.0     4546
-9.0      695
Name: OCUPARED, dtype: int64
--------------------------------------------------
Campo 81/215 (Index 80): ACTESTB

C     18289
G     12950
F      9583
O      9473
A      6965
Q      6310
P      6197
I      6038
H      5809
N      3764
M      3356
K      2709
T      2531
J      2169
S      1698
R      1358
D       735
E       684
B       625
L       421
-9       33
Name: ACTESTB, dtype: int64
--------------------------------------------------
Campo 82/215 (Index 81): ACTESTBRED

 3.0    64783
 2.0    29916
 1.0     6965
-9.0       33
Name: ACTESTBRED, dtype: int64
--------------------------------------------------
Campo 83/215 (Index 82): SITPROF

 1.0    83063
 2.0    12961
 3.0     5485
 4.0      186
-9.0        2
Name: SITPROF, dtype: int64
--------------------------------------------------
Campo 84/215 (Index 83): TIPOCONT

 1.0    66137
-9.0    18634
 2.0    15128
Name: TIPOCONT, dtype: int64
--------------------------------------------------
Campo 85/215 (Index 84): SITSOCI

 8     31601
 1     20590
 2     13606
 5      9906
 4      9544
 7      6306
 10     6281
 3      3915
 6      2862
 11      720
 9        90
-9        15
Name: SITSOCI, dtype: int64
--------------------------------------------------
Campo 86/215 (Index 85): SITSOCIRE

 5    31601
 1    24505
 2    23150
 3    12768
 6     7091
 4     6306
-9       15
Name: SITSOCIRE, dtype: int64
--------------------------------------------------
Campo 87/215 (Index 86): REGTEN

1    55259
2    29642
3    13610
5     3065
6     2720
4     1140
Name: REGTEN, dtype: int64
--------------------------------------------------
Campo 88/215 (Index 87): TIPOEDIF

4    50454
2    25154
3    18601
1    11087
5      140
Name: TIPOEDIF, dtype: int64
--------------------------------------------------
Campo 89/215 (Index 88): ZONARES

3    77580
7    16228
2     5663
4     3045
5     1920
6      614
1      386
Name: ZONARES, dtype: int64
--------------------------------------------------
Campo 90/215 (Index 89): TIPOCASA

2    86608
1    12913
3     5915
Name: TIPOCASA, dtype: int64
--------------------------------------------------
Campo 91/215 (Index 90): NHABIT

 5    46329
 6    21368
 4    19185
 7     6474
 3     5424
 8     4792
 2     1406
 1      448
-9       10
Name: NHABIT, dtype: int64
--------------------------------------------------
Campo 92/215 (Index 91): ANNOCON

 6    71257
 1    34169
-9       10
Name: ANNOCON, dtype: int64
--------------------------------------------------
Campo 93/215 (Index 92): SUPERF

ValoresDistintos=105436

(83.7, 114.6]                 38810
(52.8, 83.7]                  32481
(114.6, 145.5]                12586
(145.5, 176.4]                 5583
(176.4, 207.3]                 4525
(21.9, 52.8]                   4270
(-9.309999999999999, 21.9]     2739
(269.1, 300.0]                 1843
(238.2, 269.1]                 1373
(207.3, 238.2]                 1226
Name: SUPERF, dtype: int64
--------------------------------------------------
Campo 94/215 (Index 93): AGUACALI

1    105193
6       243
Name: AGUACALI, dtype: int64
--------------------------------------------------
Campo 95/215 (Index 94): FUENAGUA

 2.0    43378
 1.0    25858
 3.0    22441
 4.0    11575
 6.0     1286
 5.0      654
-9.0        1
Name: FUENAGUA, dtype: int64
--------------------------------------------------
Campo 96/215 (Index 95): CALEF

1    70539
6    34897
Name: CALEF, dtype: int64
--------------------------------------------------
Campo 97/215 (Index 96): FUENCALE

 2.0    36870
 1.0    14344
 4.0    14207
 5.0     2649
 3.0     2274
 6.0      194
-9.0        1
Name: FUENCALE, dtype: int64
--------------------------------------------------
Campo 98/215 (Index 97): DISPOSIOV

6    88537
1    16899
Name: DISPOSIOV, dtype: int64
--------------------------------------------------
Campo 99/215 (Index 98): NUMOVD

1.0    15471
2.0     1280
3.0      132
4.0       11
5.0        5
Name: NUMOVD, dtype: int64
--------------------------------------------------
Campo 100/215 (Index 99): REGTENV1

 1.0    13861
 2.0     2346
 3.0      383
 6.0      191
 5.0      107
 4.0        9
-9.0        2
Name: REGTENV1, dtype: int64
--------------------------------------------------
Campo 101/215 (Index 100): MESESV1

 12.0    15547
 6.0       336
 4.0       199
 3.0       184
 2.0       147
 1.0       115
 11.0      108
 10.0       55
 9.0        50
 5.0        45
 8.0        45
-9.0        35
 7.0        33
Name: MESESV1, dtype: int64
--------------------------------------------------
Campo 102/215 (Index 101): DIASV1

-9.0     16405
 1.0       266
 29.0       84
 15.0       47
 10.0       21
 20.0       14
 7.0         9
 28.0        8
 12.0        7
 6.0         4
 25.0        4
 14.0        4
 4.0         3
 3.0         3
 22.0        3
 16.0        3
 21.0        2
 13.0        2
 5.0         2
 2.0         2
 23.0        1
 17.0        1
 18.0        1
 27.0        1
 8.0         1
 11.0        1
Name: DIASV1, dtype: int64
--------------------------------------------------
Campo 103/215 (Index 102): AGUACV1

 1.0    15998
 6.0      858
-9.0       43
Name: AGUACV1, dtype: int64
--------------------------------------------------
Campo 104/215 (Index 103): FUENACV1

 1.0    6422
 3.0    4534
 2.0    3010
 4.0    1818
 6.0     127
 5.0      85
-9.0      45
Name: FUENACV1, dtype: int64
--------------------------------------------------
Campo 105/215 (Index 104): CALEFV1

 6.0    8861
 1.0    7995
-9.0      43
Name: CALEFV1, dtype: int64
--------------------------------------------------
Campo 106/215 (Index 105): FUENCAV1

 2.0    2606
 1.0    2353
 4.0    2099
 5.0     472
 3.0     423
-9.0      44
 6.0      41
Name: FUENCAV1, dtype: int64
--------------------------------------------------
Campo 107/215 (Index 106): REGTENV2

1.0    1248
2.0     129
3.0      30
5.0      11
6.0      10
Name: REGTENV2, dtype: int64
--------------------------------------------------
Campo 108/215 (Index 107): MESESV2

 12.0    1237
 6.0       50
 4.0       38
 3.0       22
 1.0       16
 2.0       15
 10.0      12
-9.0       10
 9.0        9
 8.0        6
 11.0       5
 7.0        4
 5.0        4
Name: MESESV2, dtype: int64
--------------------------------------------------
Campo 109/215 (Index 108): DIASV2

-9.0     1378
 1.0       27
 15.0       6
 29.0       5
 7.0        3
 28.0       2
 6.0        2
 3.0        1
 14.0       1
 12.0       1
 25.0       1
 10.0       1
Name: DIASV2, dtype: int64
--------------------------------------------------
Campo 110/215 (Index 109): AGUACV2

 1.0    1306
 6.0     117
-9.0       5
Name: AGUACV2, dtype: int64
--------------------------------------------------
Campo 111/215 (Index 110): FUENACV2

 1.0    582
 3.0    353
 2.0    236
 4.0    119
 6.0      9
 5.0      7
-9.0      5
Name: FUENACV2, dtype: int64
--------------------------------------------------
Campo 112/215 (Index 111): CALEFV2

 6.0    817
 1.0    606
-9.0      5
Name: CALEFV2, dtype: int64
--------------------------------------------------
Campo 113/215 (Index 112): FUENCAV2

 1.0    207
 2.0    188
 4.0    149
 5.0     32
 3.0     28
-9.0      5
 6.0      2
Name: FUENCAV2, dtype: int64
--------------------------------------------------
Campo 114/215 (Index 113): REGTENV3

1.0    133
2.0     10
3.0      3
6.0      1
5.0      1
Name: REGTENV3, dtype: int64
--------------------------------------------------
Campo 115/215 (Index 114): MESESV3

 12.0    118
 6.0       8
 4.0       7
 10.0      4
 11.0      3
 5.0       2
 1.0       2
-9.0       1
 9.0       1
 3.0       1
 2.0       1
Name: MESESV3, dtype: int64
--------------------------------------------------
Campo 116/215 (Index 115): DIASV3

-9.0     138
 1.0       6
 29.0      2
 15.0      1
 7.0       1
Name: DIASV3, dtype: int64
--------------------------------------------------
Campo 117/215 (Index 116): AGUACV3

1.0    136
6.0     12
Name: AGUACV3, dtype: int64
--------------------------------------------------
Campo 118/215 (Index 117): FUENACV3

1.0    57
3.0    46
2.0    24
4.0     6
6.0     2
5.0     1
Name: FUENACV3, dtype: int64
--------------------------------------------------
Campo 119/215 (Index 118): CALEFV3

6.0    90
1.0    58
Name: CALEFV3, dtype: int64
--------------------------------------------------
Campo 120/215 (Index 119): FUENCAV3

1.0    22
2.0    22
4.0     6
3.0     4
5.0     3
6.0     1
Name: FUENCAV3, dtype: int64
--------------------------------------------------
Campo 121/215 (Index 120): REGTENV4

1.0    12
2.0     2
6.0     1
5.0     1
Name: REGTENV4, dtype: int64
--------------------------------------------------
Campo 122/215 (Index 121): MESESV4

 12.0    14
 4.0      1
-9.0      1
Name: MESESV4, dtype: int64
--------------------------------------------------
Campo 123/215 (Index 122): DIASV4

-9.0     15
 14.0     1
Name: DIASV4, dtype: int64
--------------------------------------------------
Campo 124/215 (Index 123): AGUACV4

1.0    15
6.0     1
Name: AGUACV4, dtype: int64
--------------------------------------------------
Campo 125/215 (Index 124): FUENACV4

1.0    7
3.0    6
4.0    1
2.0    1
Name: FUENACV4, dtype: int64
--------------------------------------------------
Campo 126/215 (Index 125): CALEFV4

6.0    12
1.0     4
Name: CALEFV4, dtype: int64
--------------------------------------------------
Campo 127/215 (Index 126): FUENCAV4

1.0    3
4.0    1
Name: FUENCAV4, dtype: int64
--------------------------------------------------
Campo 128/215 (Index 127): REGTENV5

1.0    3
6.0    1
2.0    1
Name: REGTENV5, dtype: int64
--------------------------------------------------
Campo 129/215 (Index 128): MESESV5

 12.0    4
-9.0     1
Name: MESESV5, dtype: int64
--------------------------------------------------
Campo 130/215 (Index 129): DIASV5

-9.0     4
 14.0    1
Name: DIASV5, dtype: int64
--------------------------------------------------
Campo 131/215 (Index 130): AGUACV5

1.0    5
Name: AGUACV5, dtype: int64
--------------------------------------------------
Campo 132/215 (Index 131): FUENACV5

1.0    3
3.0    1
2.0    1
Name: FUENACV5, dtype: int64
--------------------------------------------------
Campo 133/215 (Index 132): CALEFV5

6.0    4
1.0    1
Name: CALEFV5, dtype: int64
--------------------------------------------------
Campo 134/215 (Index 133): FUENCAV5

2.0    1
Name: FUENCAV5, dtype: int64
--------------------------------------------------
Campo 135/215 (Index 134): REGTENV6

Series([], Name: REGTENV6, dtype: int64)
--------------------------------------------------
Campo 136/215 (Index 135): MESESV6

Series([], Name: MESESV6, dtype: int64)
--------------------------------------------------
Campo 137/215 (Index 136): DIASV6

Series([], Name: DIASV6, dtype: int64)
--------------------------------------------------
Campo 138/215 (Index 137): AGUACV6

Series([], Name: AGUACV6, dtype: int64)
--------------------------------------------------
Campo 139/215 (Index 138): FUENACV6

Series([], Name: FUENACV6, dtype: int64)
--------------------------------------------------
Campo 140/215 (Index 139): CALEFV6

Series([], Name: CALEFV6, dtype: int64)
--------------------------------------------------
Campo 141/215 (Index 140): FUENCAV6

Series([], Name: FUENCAV6, dtype: int64)
--------------------------------------------------
Campo 142/215 (Index 141): REGTENV7

Series([], Name: REGTENV7, dtype: int64)
--------------------------------------------------
Campo 143/215 (Index 142): MESESV7

Series([], Name: MESESV7, dtype: int64)
--------------------------------------------------
Campo 144/215 (Index 143): DIASV7

Series([], Name: DIASV7, dtype: int64)
--------------------------------------------------
Campo 145/215 (Index 144): AGUACV7

Series([], Name: AGUACV7, dtype: int64)
--------------------------------------------------
Campo 146/215 (Index 145): FUENACV7

Series([], Name: FUENACV7, dtype: int64)
--------------------------------------------------
Campo 147/215 (Index 146): CALEFV7

Series([], Name: CALEFV7, dtype: int64)
--------------------------------------------------
Campo 148/215 (Index 147): FUENCAV7

Series([], Name: FUENCAV7, dtype: int64)
--------------------------------------------------
Campo 149/215 (Index 148): REGTENV8

Series([], Name: REGTENV8, dtype: int64)
--------------------------------------------------
Campo 150/215 (Index 149): MESESV8

Series([], Name: MESESV8, dtype: int64)
--------------------------------------------------
Campo 151/215 (Index 150): DIASV8

Series([], Name: DIASV8, dtype: int64)
--------------------------------------------------
Campo 152/215 (Index 151): AGUACV8

Series([], Name: AGUACV8, dtype: int64)
--------------------------------------------------
Campo 153/215 (Index 152): FUENACV8

Series([], Name: FUENACV8, dtype: int64)
--------------------------------------------------
Campo 154/215 (Index 153): CALEFV8

Series([], Name: CALEFV8, dtype: int64)
--------------------------------------------------
Campo 155/215 (Index 154): FUENCAV8

Series([], Name: FUENCAV8, dtype: int64)
--------------------------------------------------
Campo 156/215 (Index 155): REGTENV9

Series([], Name: REGTENV9, dtype: int64)
--------------------------------------------------
Campo 157/215 (Index 156): MESESV9

Series([], Name: MESESV9, dtype: int64)
--------------------------------------------------
Campo 158/215 (Index 157): DIASV9

Series([], Name: DIASV9, dtype: int64)
--------------------------------------------------
Campo 159/215 (Index 158): AGUACV9

Series([], Name: AGUACV9, dtype: int64)
--------------------------------------------------
Campo 160/215 (Index 159): FUENACV9

Series([], Name: FUENACV9, dtype: int64)
--------------------------------------------------
Campo 161/215 (Index 160): CALEFV9

Series([], Name: CALEFV9, dtype: int64)
--------------------------------------------------
Campo 162/215 (Index 161): FUENCAV9

Series([], Name: FUENCAV9, dtype: int64)
--------------------------------------------------
Campo 163/215 (Index 162): GASTOT

ValoresDistintos=105436

(-480390.967, 48183190.315]      91739
(48183190.315, 96364953.96]      11421
(96364953.96, 144546717.605]      1764
(144546717.605, 192728481.25]      361
(192728481.25, 240910244.895]      100
(240910244.895, 289092008.54]       28
(289092008.54, 337273772.185]       11
(337273772.185, 385455535.83]        5
(433637299.475, 481819063.12]        3
(385455535.83, 433637299.475]        2
Name: GASTOT, dtype: int64
--------------------------------------------------
Campo 164/215 (Index 163): IMPUTGAS

ValoresDistintos=105436

(-0.101, 10.0]    80572
(10.0, 20.0]       9908
(20.0, 30.0]       6657
(30.0, 40.0]       4074
(40.0, 50.0]       2434
(50.0, 60.0]       1174
(60.0, 70.0]        433
(70.0, 80.0]        132
(80.0, 90.0]         32
(90.0, 100.0]        20
Name: IMPUTGAS, dtype: int64
--------------------------------------------------
Campo 165/215 (Index 164): GASTMON

ValoresDistintos=105436

(-462688.08, 46412901.598]        95859
(46412901.598, 92824376.526]       8093
(92824376.526, 139235851.454]      1123
(139235851.454, 185647326.382]      246
(185647326.382, 232058801.31]        62
(232058801.31, 278470276.238]        26
(278470276.238, 324881751.166]        6
(371293226.094, 417704701.022]        2
(324881751.166, 371293226.094]        2
(417704701.022, 464116175.95]         1
Name: GASTMON, dtype: int64
--------------------------------------------------
Campo 166/215 (Index 165): GASTNOM1

ValoresDistintos=105436

(-75497.906, 7573992.082]       6523
(7573992.082, 15147744.544]      134
(15147744.544, 22721497.006]      56
(30295249.468, 37869001.93]       13
(22721497.006, 30295249.468]      11
(37869001.93, 45442754.392]        4
(45442754.392, 53016506.854]       2
(68164011.778, 75737764.24]        1
(53016506.854, 60590259.316]       1
(60590259.316, 68164011.778]       0
Name: GASTNOM1, dtype: int64
--------------------------------------------------
Campo 167/215 (Index 166): GASTNOM2

ValoresDistintos=105436

(-32215.768, 3304142.202]       791
(3304142.202, 6607466.924]       76
(6607466.924, 9910791.646]       23
(9910791.646, 13214116.368]      12
(16517441.09, 19820765.812]       4
(26427415.256, 29730739.978]      3
(19820765.812, 23124090.534]      3
(13214116.368, 16517441.09]       3
(29730739.978, 33034064.7]        2
(23124090.534, 26427415.256]      1
Name: GASTNOM2, dtype: int64
--------------------------------------------------
Campo 168/215 (Index 167): GASTNOM3

ValoresDistintos=105436

(-56642.155999999995, 5677399.06]    4052
(5677399.06, 11354667.59]             245
(11354667.59, 17031936.12]             61
(22709204.65, 28386473.18]             19
(17031936.12, 22709204.65]             19
(51095547.3, 56772815.83]               2
(45418278.77, 51095547.3]               2
(34063741.71, 39741010.24]              1
(28386473.18, 34063741.71]              1
(39741010.24, 45418278.77]              0
Name: GASTNOM3, dtype: int64
--------------------------------------------------
Campo 169/215 (Index 168): GASTNOM4

ValoresDistintos=105436

(-73377.37400000001, 18558625.217]    87567
(18558625.217, 37006152.534]           3333
(37006152.534, 55453679.851]            371
(55453679.851, 73901207.168]             57
(73901207.168, 92348734.485]             11
(92348734.485, 110796261.802]             9
(110796261.802, 129243789.119]            2
(166138843.753, 184586371.07]             1
(147691316.436, 166138843.753]            1
(129243789.119, 147691316.436]            0
Name: GASTNOM4, dtype: int64
--------------------------------------------------
Campo 170/215 (Index 169): CAPROP

 6    89546
 1    15426
-9      464
Name: CAPROP, dtype: int64
--------------------------------------------------
Campo 171/215 (Index 170): CAJENA

 1    60531
 6    44442
-9      463
Name: CAJENA, dtype: int64
--------------------------------------------------
Campo 172/215 (Index 171): PENSIO

 6    59951
 1    45022
-9      463
Name: PENSIO, dtype: int64
--------------------------------------------------
Campo 173/215 (Index 172): DESEM

 6    96913
 1     8060
-9      463
Name: DESEM, dtype: int64
--------------------------------------------------
Campo 174/215 (Index 173): OTRSUB

 6    99489
 1     5484
-9      463
Name: OTRSUB, dtype: int64
--------------------------------------------------
Campo 175/215 (Index 174): RENTAS

 6    97019
 1     7954
-9      463
Name: RENTAS, dtype: int64
--------------------------------------------------
Campo 176/215 (Index 175): OTROIN

 6    101633
 1      3340
-9       463
Name: OTROIN, dtype: int64
--------------------------------------------------
Campo 177/215 (Index 176): FUENPRIN

 2.0    49231
 3.0    37396
 1.0    11340
 4.0     3410
 5.0     1350
 6.0      771
 7.0      754
-9.0      487
Name: FUENPRIN, dtype: int64
--------------------------------------------------
Campo 178/215 (Index 177): FUENPRINRED

 2.0    49231
 3.0    42910
 1.0    12111
-9.0      487
Name: FUENPRINRED, dtype: int64
--------------------------------------------------
Campo 179/215 (Index 178): IMPEXAC

ValoresDistintos=105436

(-22.084, 2208.3]     63872
(2208.3, 4416.6]      35720
(4416.6, 6624.9]       4630
(6624.9, 8833.2]        789
(8833.2, 11041.5]       240
(11041.5, 13249.8]      132
(13249.8, 15458.1]       35
(15458.1, 17666.4]       13
(17666.4, 19874.7]        3
(19874.7, 22083.0]        2
Name: IMPEXAC, dtype: int64
--------------------------------------------------
Campo 180/215 (Index 179): INTERIN

3     19811
7     17451
4     17373
5     15616
2     15204
6     12024
1      3948
8      2911
9       685
10      413
Name: INTERIN, dtype: int64
--------------------------------------------------
Campo 181/215 (Index 180): NUMPERI

 2    49106
 1    44974
 3     8041
 4     1415
-9      997
 0      697
 5      180
 6       23
 7        3
Name: NUMPERI, dtype: int64
--------------------------------------------------
Campo 182/215 (Index 181): COMIMH

ValoresDistintos=105436

(27.1, 63.2]      48534
(63.2, 99.3]      26852
(-9.362, 27.1]    14855
(99.3, 135.4]     12517
(135.4, 171.5]     2332
(171.5, 207.6]      238
(207.6, 243.7]       75
(243.7, 279.8]       22
(279.8, 315.9]       10
(315.9, 352.0]        1
Name: COMIMH, dtype: int64
--------------------------------------------------
Campo 183/215 (Index 182): COMISD

 0     104831
 28       122
 10       104
 20        31
 14        27
 9         27
 22        25
 12        23
 24        21
 1         21
 8         19
 18        18
 6         17
 7         15
 2         15
 26        15
-9         12
 4         11
 23        11
 19         9
 11         9
 5          9
 27         8
 15         7
 21         7
 56         6
 16         5
 13         4
 3          3
 25         2
 44         1
 48         1
Name: COMISD, dtype: int64
--------------------------------------------------
Campo 184/215 (Index 183): COMIHU

ValoresDistintos=105436

(-9.174, 8.3]     104943
(8.3, 25.6]          272
(25.6, 42.9]         144
(42.9, 60.2]          44
(77.5, 94.8]          12
(60.2, 77.5]          10
(94.8, 112.1]          7
(112.1, 129.4]         2
(146.7, 164.0]         1
(129.4, 146.7]         1
Name: COMIHU, dtype: int64
--------------------------------------------------
Campo 185/215 (Index 184): COMIINV

ValoresDistintos=105436

(-9.318, 22.7]    99962
(22.7, 54.4]       4449
(54.4, 86.1]        849
(86.1, 117.8]       112
(117.8, 149.5]       37
(149.5, 181.2]       17
(181.2, 212.9]        6
(244.6, 276.3]        3
(276.3, 308.0]        1
(212.9, 244.6]        0
Name: COMIINV, dtype: int64
--------------------------------------------------
Campo 186/215 (Index 185): COMITOT

ValoresDistintos=105436

(35.1, 79.2]      47044
(79.2, 123.3]     30776
(-9.442, 35.1]    22619
(123.3, 167.4]     4044
(167.4, 211.5]      786
(211.5, 255.6]      136
(255.6, 299.7]       20
(299.7, 343.8]        8
(343.8, 387.9]        2
(387.9, 432.0]        1
Name: COMITOT, dtype: int64
--------------------------------------------------
Campo 187/215 (Index 186): Poblacion

ValoresDistintos=105436

(-40.958, 6799.437]       102709
(6799.437, 13572.104]       2545
(13572.104, 20344.771]       125
(20344.771, 27117.438]        33
(27117.438, 33890.105]        15
(33890.105, 40662.771]         6
(40662.771, 47435.438]         2
(60980.772, 67753.439]         1
(54208.105, 60980.772]         0
(47435.438, 54208.105]         0
Name: Poblacion, dtype: int64
--------------------------------------------------
Campo 188/215 (Index 187): Comunidad

Andalucía             11465
País Vasco            10913
Cataluña               9521
Valencia               8326
Madrid                 7876
Castilla y León        6875
Galicia                6601
Castilla La Mancha     5675
Canarias               4812
Aragón                 4808
Extremadura            4671
Murcia                 4628
Asturias               4379
Cantabria              3757
Navarra                3539
La Rioja               3326
Baleares               3134
Melilla                 581
Ceuta                   549
Name: Comunidad, dtype: int64
--------------------------------------------------
Campo 189/215 (Index 188): CapitalProvincia

No capital    69426
Capital       36010
Name: CapitalProvincia, dtype: int64
--------------------------------------------------
Campo 190/215 (Index 189): HabitantesMunicipio

100.000 o más        39592
 10.000 o menos      25079
 20.000 a 50.000     16290
 50.000 a 100.000    13191
 10.000 a 20.000     11284
Name: HabitantesMunicipio, dtype: int64
--------------------------------------------------
Campo 191/215 (Index 190): DensidadPoblacion

Zona densamente poblada    49821
Zona diseminada            29796
Zona intermedia            25819
Name: DensidadPoblacion, dtype: int64
--------------------------------------------------
Campo 192/215 (Index 191): TipoHogar

Pareja con al menos un hijo de 16 o más             21738
Pareja sin hijos, al menos uno 65 o más             13766
Pareja sin hijos, ambos menos de 65                 11926
Una persona de 30 a 64                              10468
Una persona de 65 o más                              9547
Pareja con dos hijos menores de 16                   9206
Otros hogares                                        8497
Pareja con un hijo menor de 16                       8141
Padre o madre solo, al menos un hijo de 16 o más     8004
Un adulto con niños menores de 16                    2042
Pareja con tres o más hijos menores de 16            1565
Una persona de menos de 30                            536
Name: TipoHogar, dtype: int64
--------------------------------------------------
Campo 193/215 (Index 192): SituacionHogar

Ningún ocupado en el hogar                                                   36293
Sustentador principal y cónyuge ocupados, no más ocupados                    25490
No consta                                                                    17480
Sustentador principal o cónyuge ocupado, no más ocupados                     17098
Sustentador principal y cónyuge ocupados, al menos otro ocupado               2754
Ni sustentador principal ni cónyuge ocupado, otro ocupado                     2722
Sustentador principal o cónyuge ocupado, otro ocupado                         2594
Sustentador principal o cónyuge ocupado, al menos otros dos ocupados           519
Ni sustentador principal ni cónyuge ocupados, al menos otros dos ocupados      486
Name: SituacionHogar, dtype: int64
--------------------------------------------------
Campo 194/215 (Index 193): SexoSustentadorPrincipal

Hombre    70882
Mujer     34554
Name: SexoSustentadorPrincipal, dtype: int64
--------------------------------------------------
Campo 195/215 (Index 194): PaisNacimientoSustentador

España           96482
No Europa         6113
UE                2447
Europa, no UE      394
Name: PaisNacimientoSustentador, dtype: int64
--------------------------------------------------
Campo 196/215 (Index 195): EstudiosSustentadorPrincipal

ESO, EGB o Bachiller Elemental (con titulo o cursados, al menos, 3º, 8º o 4º respectivamente) y similares                           31141
Bachiller, BUP, COU, Bachiller Superior, FP de Grado Medio, FP Básica y otros estudios de grado medio                               19248
Educación primaria completa o escuela al menos 5 años                                                                               17130
Grado de más de 240 ECTS, Licenciatura, Arquitectura, Ingeniería, másteres, especialidad en Ciencias de la Salud y equivalentes.    14070
FP de Grado Superior, FPII y equivalentes                                                                                           10469
Grado de 240 ECTS, Diplomatura, Arquitectura e Ingeniería Técnicas y equivalentes.                                                   9246
No sabe leer o escribir o menos de 5 años en escuela                                                                                 3142
Doctorado universitario.                                                                                                              990
Name: EstudiosSustentadorPrincipal, dtype: int64
--------------------------------------------------
Campo 197/215 (Index 196): EstudiosSustentadorPrincipal_redux

Educación superior                               34775
Primera etapa Educación secundaria               31141
Menos que primera etapa Educación Secundaria.    20272
Segunda etapa Educación secundaria               19248
Name: EstudiosSustentadorPrincipal_redux, dtype: int64
--------------------------------------------------
Campo 198/215 (Index 197): SitLaboralSustentadorPrincipal

Trabajando                  57526
Jubilado/a                  31601
Parado/a                     6306
Labores del hogar            4680
De baja                      2912
Incapacidad laboral per.     1601
Otra inactividad              720
Estudiante                     90
Name: SitLaboralSustentadorPrincipal, dtype: int64
--------------------------------------------------
Campo 199/215 (Index 198): OcupacionSustentadorPrincipal

Trabajadores de los servicios de restauración, personales, protección y vendedores                                                             17913
Artesanos y trabajadores cualificados de las industrias manufactureras y la construcción (excepto operadores de instalaciones y maquinaria)    17070
Técnicos y profesionales científicos e intelectuales                                                                                           15780
Ocupaciones elementales                                                                                                                        12379
Técnicos y profesionales de apoyo                                                                                                              10581
Operadores de instalaciones y maquinaria, y montadores                                                                                         10089
Empleados contables, administrativos y otros empleados de oficina                                                                               7968
Trabajadores cualificados en el sector agrícola, ganadero, forestal y pesquero                                                                  4676
Directores y gerentes                                                                                                                           4546
Ocupaciones militares                                                                                                                            692
No consta                                                                                                                                          3
Name: OcupacionSustentadorPrincipal, dtype: int64
--------------------------------------------------
Campo 200/215 (Index 199): OcupacionSustentadorPrincipal_redux

Artesanos y trabajadores cualificados de otros sectores, operadores y montadores    31835
Técnicos y profesionales                                                            26361
Empleados de tipo administrativo y trabajadores de servicios y de comercio          25881
Trabajadores en ocupaciones elementales                                             12379
Directores y gerentes                                                                4546
No consta o Fuerzas armadas                                                           695
Name: OcupacionSustentadorPrincipal_redux, dtype: int64
--------------------------------------------------
Campo 201/215 (Index 200): Actividad

Industria manufacturera                                                              18289
Comercio y reparación de vehículos de motor                                          12950
Construcción                                                                          9583
Administración pública y defensa; seguridad social obligatoria                        9473
Agricultura, ganadería, silvicultura y pesca                                          6965
Actividades sanitarias y de servicios sociales                                        6310
Educación                                                                             6197
Hostelería                                                                            6038
Transporte y almacenamiento                                                           5809
Actividades administrativas y servicios auxiliares                                    3764
Actividades profesionales, científicas y técnicas                                     3356
Actividades financieras y de seguros                                                  2709
Actividades de los hogares como empleadores de personal doméstico                     2531
Información y comunicaciones                                                          2169
Otros servicios                                                                       1698
Actividades artísticas, recreativas y de entretenimiento                              1358
Suministro de energía eléctrica, gas, vapor y aire acondicionado                       735
Suministro de agua, saneamiento y gestión de residuos                                  684
Industrias extractivas                                                                 625
Actividades inmobiliarias                                                              421
No consta (incluye actividades de organizaciones y organismos extraterritoriales)       33
Name: Actividad, dtype: int64
--------------------------------------------------
Campo 202/215 (Index 201): Actividad_redux

Servicios                                                                                                                                                    64783
Industrias extractiva, manufacturera, eléctrica, gas, vapor y aire acondicionado, agua, saneamiento, gestión de residuos y descontaminación, construcción    29916
Agricultura, ganadería, silvicultura y pesca                                                                                                                  6965
No consta (incluye actividades de organizaciones y organismos extraterritoriales)                                                                               33
Name: Actividad_redux, dtype: int64
--------------------------------------------------
Campo 203/215 (Index 202): SituacionProfesional

Asalariado                                               83063
Empresario sin asalariados o trabajador independiente    12961
Empleador                                                 5485
Otra situación (ayuda familiar, etc.)                      186
No consta                                                    2
Name: SituacionProfesional, dtype: int64
--------------------------------------------------
Campo 204/215 (Index 203): Sector

Privado      62301
Público      20762
No consta    18634
Name: Sector, dtype: int64
--------------------------------------------------
Campo 205/215 (Index 204): Contrato

Con contrato    81265
No consta       18634
Sin contrato     1798
Name: Contrato, dtype: int64
--------------------------------------------------
Campo 206/215 (Index 205): DuracionContrato

Indefinido    66137
No consta     18634
Temporal      15128
Name: DuracionContrato, dtype: int64
--------------------------------------------------
Campo 207/215 (Index 206): SituacionSocial

Jubilado/a, retirado/a anticipadamente                     31601
Trabajador manual, excepto agricultura                     24505
Trabajador no manual, excepto agricultura                  23150
Independiente, excepto agricultura                          9906
Parado/a                                                    6306
Labores del hogar o actividad no económica                  6281
Agricultor independiente o trabajador de la agricultura     2862
Incapacitados para trabajar                                  720
Estudiante                                                    90
No consta                                                     15
Name: SituacionSocial, dtype: int64
--------------------------------------------------
Campo 208/215 (Index 207): SituacionSocial_redux

Retirados o jubilados                                                   31601
Trabajador manual, excepto agricultura                                  24505
Trabajador no manual, excepto agricultura                               23150
Trabajador independiente y agricultor o trabajador en la agricultura    12768
Otros inactivos                                                          7091
Parado                                                                   6306
No consta                                                                  15
Name: SituacionSocial_redux, dtype: int64
--------------------------------------------------
Campo 209/215 (Index 208): Ingresos Netos Anuales Hogar

ValoresDistintos=105436

(-264.99699999999996, 26499.6]    63872
(26499.6, 52999.2]                35720
(52999.2, 79498.8]                 4630
(79498.8, 105998.4]                 789
(105998.4, 132498.0]                240
(132498.0, 158997.6]                132
(158997.6, 185497.2]                 35
(185497.2, 211996.8]                 13
(211996.8, 238496.4]                  3
(238496.4, 264996.0]                  2
Name: Ingresos Netos Anuales Hogar, dtype: int64
--------------------------------------------------
Campo 210/215 (Index 209): Ingresos Netos Mensuales Hogar

ValoresDistintos=105436

(-22.084, 2208.3]     63872
(2208.3, 4416.6]      35720
(4416.6, 6624.9]       4630
(6624.9, 8833.2]        789
(8833.2, 11041.5]       240
(11041.5, 13249.8]      132
(13249.8, 15458.1]       35
(15458.1, 17666.4]       13
(17666.4, 19874.7]        3
(19874.7, 22083.0]        2
Name: Ingresos Netos Mensuales Hogar, dtype: int64
--------------------------------------------------
Campo 211/215 (Index 210): Gastos Anuales Hogar

ValoresDistintos=105436

(-275.075, 28012.398]       74670
(28012.398, 56019.796]      26462
(56019.796, 84027.194]       3572
(84027.194, 112034.592]       582
(112034.592, 140041.99]       102
(140041.99, 168049.388]        21
(168049.388, 196056.787]        8
(196056.787, 224064.185]        2
(252071.583, 280078.981]        1
(224064.185, 252071.583]        0
Name: Gastos Anuales Hogar, dtype: int64
--------------------------------------------------
Campo 212/215 (Index 211): Gastos Mensuales Hogar

ValoresDistintos=105436

(-22.924, 2334.367]       74670
(2334.367, 4668.316]      26462
(4668.316, 7002.266]       3572
(7002.266, 9336.216]        582
(9336.216, 11670.166]       102
(11670.166, 14004.116]       21
(14004.116, 16338.066]        8
(16338.066, 18672.015]        2
(21005.965, 23339.915]        1
(18672.015, 21005.965]        0
Name: Gastos Mensuales Hogar, dtype: int64
--------------------------------------------------
Campo 213/215 (Index 212): Ahorro Mensual Hogar

ValoresDistintos=105436

(-345.97, 2959.819]                  76594
(-3651.759, -345.97]                 26542
(2959.819, 6265.607]                  1438
(-6957.548, -3651.759]                 523
(6265.607, 9571.396]                   223
(9571.396, 12877.185]                   57
(-10263.337, -6957.548]                 36
(12877.185, 16182.974]                   3
(-13569.126, -10263.337]                 3
(-16907.974000000002, -13569.126]        1
Name: Ahorro Mensual Hogar, dtype: int64
--------------------------------------------------
Campo 214/215 (Index 213): Ahorro Anual Hogar

ValoresDistintos=105436

(-4151.645, 35517.822]                76594
(-43821.112, -4151.645]               26542
(35517.822, 75187.289]                 1438
(-83490.579, -43821.112]                523
(75187.289, 114856.756]                 223
(114856.756, 154526.224]                 57
(-123160.046, -83490.579]                36
(154526.224, 194195.691]                  3
(-162829.514, -123160.046]                3
(-202895.67599999998, -162829.514]        1
Name: Ahorro Anual Hogar, dtype: int64
--------------------------------------------------
Campo 215/215 (Index 214): Hogares

ValoresDistintos=105436

(12.955, 952.004]       67171
(952.004, 1881.755]     30844
(1881.755, 2811.506]     5891
(2811.506, 3741.257]     1118
(3741.257, 4671.008]      261
(4671.008, 5600.759]       97
(5600.759, 6530.51]        36
(6530.51, 7460.261]        10
(7460.261, 8390.012]        5
(8390.012, 9319.763]        3
Name: Hogares, dtype: int64

In [84]:
df_hogares.head()

,ANOENC,NUMERO,CCAA,NUTS1,CAPROV,TAMAMU,DENSIDAD,CLAVE,CLATEO,FACTOR,...,DuracionContrato,SituacionSocial,SituacionSocial_redux,Ingresos Netos Anuales Hogar,Ingresos Netos Mensuales Hogar,Gastos Anuales Hogar,Gastos Mensuales Hogar,Ahorro Mensual Hogar,Ahorro Anual Hogar,Hogares
0,2019,1,1,Sur,1,1,1,2,2,1294.618356,...,No consta,"Independiente, excepto agricultura",Trabajador independiente y agricultor o trabaj...,20592,1716,27070.110884,2255.842574,-539.842574,-6478.110884,1294.618356
1,2019,2,13,Madrid,6,1,1,1,2,1569.018845,...,Indefinido,"Jubilado/a, retirado/a anticipadamente",Retirados o jubilados,26208,2184,27579.250063,2298.270839,-114.270839,-1371.250063,1569.018845
2,2019,3,15,NorEste,6,4,2,1,2,332.468410,...,NaN,Labores del hogar o actividad no económica,Otros inactivos,6696,558,7289.451380,607.454282,-49.454282,-593.451380,332.468410
3,2019,4,16,NorEste,6,4,1,1,1,311.734979,...,Indefinido,"Trabajador manual, excepto agricultura","Trabajador manual, excepto agricultura",27048,2254,22349.987391,1862.498949,391.501051,4698.012609,311.734979
4,2019,5,3,NorOeste,6,4,3,2,2,524.758178,...,Indefinido,"Jubilado/a, retirado/a anticipadamente",Retirados o jubilados,56628,4719,28369.684274,2364.140356,2354.859644,28258.315726,524.758178

In [85]:
df_hogares.to_csv(r'../../03_Tablas/hogares.csv',index=False)

In [86]:
df_hogares['GASTMON'].sum()/pow(10,6)

2122298.23164839

In [87]:
df_hogares['IMPEXAC'].mean()

2140.471508782579